.contener{
    max-width: 1366px;
    width: 100%;
    margin: 0px auto;
    font-family: 'Source Serif Pro',sans-serif;
}
header{
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}
.nav_top{
    width: 100%;
    height: 40px;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    color: #909090;
    border: 0.5 solid #707070;
    
}
.nav_top .div_1{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 10%;
}
header .nav_top .using img{
     margin-right: 10px;
}
header .nav_top .lange{
    margin-left: 33px;
    display: flex;
    justify-content: space-evenly;
}
.flag{
    width: 20px;
    height: 14px;
    margin-right: 10px;
}
header .nav_bottom{
    width: 100%;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav_bottom ul{
    
    margin-left: 100px;
    width: 440px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav_bottom ul li{
    padding: 15px 18px;
}
header ul .active{
    background-color: #FFEA00;
}
.nav_bottom .meniue{
    display: flex;
}
.meniue div input{
    width: 256px;
    height: 48px;
    background-color: #EBEBEB;
}
.meniue div{
    position: relative;
}
.meniue div img{
    position: absolute;
    right: 6%;
    top: 30%;

}
main{
    margin-left: 9%;
    margin-right: 9%;
    font-family: 'Source Serif Pro',sans-serif;
}
.main_top{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main_top_left{
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: flex-start;
	align-content: stretch;
    padding-bottom: 48px;
    
}
.main_top_left h1{
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 51px;
}
.main_top_left .p{
    margin-top: 48px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.8;
}
.question{
    margin-top: 48px;
    margin-bottom: 48px;
}
.who_is{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    padding: 14px 20px 14px 20px;
}

.question .question_p {
    padding: 14px 20px 14px 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 1px #9c9c9c;
    font-size: 14px;
    font-weight: 600;
}
.question .txt{
    font-size: 14px;
    box-shadow: 0px 1px #9c9c9c;
    margin-top: 24px;
    line-height: 1.8;
    font-weight: 400;
    padding: 14px 20px 14px 20px;
}
.main_top_help{
    margin-right: 4%;
    font-size: 14px;
    font-weight: 400;
}
.main_top_help h2{
    font-size: 20;
    font-weight: 600;
    margin-bottom: 44px;
}
.main_top_help p{
    line-height: 1.6;
}
.card{
    box-shadow: 0px 0px 0px 1px #9c9c9c;
    display: flex;
    justify-content: space-between;
    background-color: #F7F7F7;
}
.card h2{
    font-size: 40px;
    font-weight: 600;
    margin-top: 22px;
}
.card p{
    font-size: 14px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 24px;
}
.card button{
    font-size: 14px;
    font-weight: 400;
}
.card .btn1{
    background-color: #EBEBEB;
    padding: 13px 71px 16px 20px;
    border: 1px solid #95989A;
}
.card .btn2{
    /* margin-bottom: 24px; */
    background-color: #202020;
    padding: 13px 36px 16px 40px;
    border: 1px solid #95989A;
    color: white;
}
.card div{
    margin-right: 10%;
}
main .line{
    margin-bottom: 48px;
    width: 100%;
    background-color: #9c9c9c;
    opacity: 0.8;
    height: 2px;
}
footer{
    margin-top: 72px;
    padding: 56px 182px 56px 141px;
    background-color: #202020;
    color: #909090;
}
.nav_footer{
    display: flex;
    justify-content: space-between;
}
.nav_footer ul{
    width: 440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .active{
    color: white;
}
footer .information{
    font-size: 14px;
    font-weight: 600;
    margin-top: 55px;
    color: #909090;
}
        /*ABOUT US CSS  */
.about_main{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}
.about_main_top{
    margin-top: 49px;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}
.about_main h1{
    color: #202020;
    font-size: 40px;
    font-weight: 400;
}
.about_main h2{
    color: #202020;
    font-size: 36px;
    font-weight: 400;
}
.about_main .lines{
    margin-top: 15px;
    width: 84px;
    height: 2px;
    background-color: #FFEA00;
}
.about_main .p{
    margin-top: 48px;
    font-size: 20px;
    font-weight: 400;
    color: #202020;
}
.about_main .cards{
    margin-top: 48px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.about_main .carde{
    text-align: center;
    /* width: 164p*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards h4{
    margin-top: 19px;
    font-size: 24px;
    font-weight: 400;
}
.cards p{
    margin-top: 21px;
    margin-bottom: 35px;
    font-size: 10px;
    font-weight: 600;
    color: #909090;
}
.Stacey p{
    margin-bottom: 21px;
}
.about_main_middle{
    margin-top: 70px;
}
.about_main_middle .cards{
    margin-top: 48px;
    margin-bottom: 48px;
    justify-content: space-evenly;
}
.about_main_middle p{
    color: #202020;
    line-height: 1.6;
}
.about_main footer{
    color: #909090;
}
.about_main footer .active{
    color: w;
}